<h1>Stat#index</h1>

<h1> Import a new CSV File </h1>
  <%= form_tag import_stats_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

<h1> Retrieve subset of CSV </h1>
<%= form_tag(:stats, method: "get") do %>
  <%=select_tag :start_id, options_from_collection_for_select(Stat.all, :id, :date)%>
  <%=select_tag :end_id, options_from_collection_for_select(Stat.all, :id, :date)%>
  <%= submit_tag('search') %>
<% end %>
